<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gavinandre.androidherosamples">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".chapterthree.ChapterThreeActivity"/>
        <activity android:name=".chapterthree.customview.CustomViewActivity"/>
        <activity android:name=".chapterthree.customviewgroup.CustomViewGroupActivity"/>
        <activity android:name=".chapterthree.customviewlayout.CustomViewLayoutActivity"/>

        <activity android:name=".chapterfive.ChapterFiveActivity"/>
        <activity android:name=".chapterfive.dragview.DragViewTest"/>
        <activity android:name=".chapterfive.draggroup.DragViewGroupTest"/>

        <activity android:name=".chaptersix.ChapterSixActivity"/>
        <activity android:name=".chaptersix.canvaspaintbase.CanvasPaintActivity"/>
        <activity android:name=".chaptersix.clock.ClockActivity"/>
        <activity android:name=".chaptersix.layer.LayerActivity"/>
        <activity android:name=".chaptersix.imageColor.ImageColorActivity"/>
        <activity android:name=".chaptersix.imageColor.ColorMatrix"/>
        <activity android:name=".chaptersix.imageColor.PixelsEffect"/>
        <activity android:name=".chaptersix.imageColor.PrimaryColor"/>
        <activity android:name=".chaptersix.imageShape.ImageShapeActivity"/>
        <activity
            android:name=".chaptersix.imageShape.ImageMatrixTest"
            android:screenOrientation="portrait"/>
        <activity android:name=".chaptersix.imageShape.XfermodeViewTest"/>
        <activity android:name=".chaptersix.imageShape.ReflectViewTest"/>
        <activity android:name=".chaptersix.imageShape.FlagBitmapMeshTest"/>
        <activity android:name=".chaptersix.imageShape.RoundRectTest"/>
        <activity android:name=".chaptersix.imageShape.PathEffectViewTest"/>
        <activity android:name=".chaptersix.surfaceview.SurfaceViewActivity"/>
        <activity android:name=".chaptersix.surfaceview.SinViewTest"/>
        <activity android:name=".chaptersix.surfaceview.SimpleDrawTest"/>

        <activity android:name=".chapterseven.ChapterSevenActivity"/>
        <activity android:name=".chapterseven.customanim.CustomAnimActivity"/>
        <activity android:name=".chapterseven.customaniminstance.CustomAnimInstanceActivity"/>
        <activity android:name=".chapterseven.customaniminstance.DropTest"/>
        <activity android:name=".chapterseven.customaniminstance.PropertyTest"/>
        <activity android:name=".chapterseven.customaniminstance.TimerTest"/>
        <activity android:name=".chapterseven.svganim.SVGAnimActivity"/>

        <activity android:name=".chaptertwelve.ChapterTwelveActivity"/>
        <activity android:name=".chaptertwelve.palette.PaletteActivity"
            android:theme="@style/AppTheme.Material"/>
        <activity android:name=".chaptertwelve.elevation.ElevationActivity"/>
        <activity android:name=".chaptertwelve.tinting.TintingActivity"/>
        <activity android:name=".chaptertwelve.clipping.ClippingActivity"/>
        <activity android:name=".chaptertwelve.recyclerview.RecyclerTest"/>
        <activity android:name=".chaptertwelve.cardview.CardViewActivity"/>

    </application>

</manifest>